#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    tr:nth-child(even){
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #ddd;
    }
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
    .btn-edit {
        background: transparent;
        outline: none;
        color: rgb(196, 232, 16);
        width: 50px;
        border: none;
        &:hover {
            background-color: transparent;
            color: rgb(121, 141, 23) !important;
        }
    }
    .btn-delete {
        background: transparent;
        outline: none;
        color: rgb(235, 123, 19);
        width: 50px;
        border: none;
        &:hover {
            background-color: transparent;
            color: orange !important;
        }
    }
}

.modal-user-container {
    .modal-content {
        .modal-header {
            button {
                background-color: transparent;
                color: #fff;
                font-size: 20px;
                outline: none;
                border: none;
            }
        }
    }
    
    .modal-user-body {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        .input-container {
        display: flex;
        flex-direction: column;
        width: 49%;
        &.max-width-input {
            width: 100%;
        }
        input {
            border-radius: 3px;
            height: 30px;
            border: 1px solid grey;
            outline: none;
            padding: 0 10px;
        }
    }
    }
    
}
  
  