.manage-doctor-container {
    padding: 5px;

    .manage-doctor-title {
        margin     : 5px;
        font-size  : 20px;
        font-weight: 700;
        text-align : center;
    }

    .more-info {
        display       : flex;
        gap           : 15px;
        padding-bottom: 20px;

        .content-left {
            width: 40%;
        }

        .content-right {
            width: 60%;
        }
    }

    .manage-doctor-editor {}

    .save-content-doctor {
        background-color: orange;
        padding         : 5px;
        border          : none;
        outline         : none;
        margin          : 20px 0 30px 0;
        cursor          : pointer;
        border-radius   : 5px;

        &:hover {
            opacity: 0.8;
        }
    }
}