.doctor-detail-container {
    height: 500px;

    .intro-doctor {
        height : 150px;
        width  : 100%;
        display: flex;
        padding: 10px 60px;

        .content-left {
            width          : 20%;
            background-size: 'cover'

        }

        .content-right {
            width         : 80%;
            display       : flex;
            flex-direction: column;
            padding       : 0 5px;

            .up {
                font-weight: 700;
                font-size  : 20px;
                padding-top: 15px;
            }

            .down {
                padding-top: 10px;
                font-size  : 15px;
            }
        }
    }

    .schedule-doctor {
        height    : 200px;
        color     : black;
        // border : 1px solid green;
        padding   : 0 60px;
        width     : 100%;
        display   : flex;

        .content-left {
            width       : 50%;
            border-right: 1px solid red;
        }

        ;

        .content-right {
            width: 50%;

        }
    }

    .detail-info-doctor {
        padding: 10px 60px;

        background-color   : #f9f9f9;
        border-top         : 1px solid #ddd;
        border-bottom      : 1px solid #ddd;
        // margin-bottom   : 200px;

        h3 {
            font-size: 17px;
        }

        img {
            width    : 100%;
            // height: 200px;
        }
    }



    .comment-doctor {
        height: 50px;
    }
}