.profile-doctor-container {

    .intro-doctor {
        width  : 100%;
        display: flex;

        .content-left {
            width: 20%;

            .img-doctor {
                background-size    : cover;
                background-repeat  : no-repeat;
                background-position: center center;
            }
        }

        .content-right {
            width     : 80%;
            margin-top: 20px;

            .up {
                font-weight: 600;
                font-size  : 20px;
            }

            .down {
                font-size: 15px;
            }
        }
    }
}