.section-specialty {
    height          : 380px;
    background-color: #f5f5f5;
    border          : red solid 1px;

    .specialty-container {
        margin        : 0 100px;
        border        : red solid 1px;
        display       : flex;
        flex-direction: column;

        .specialty-header {
            margin: 30px 0;

            .title-section {
                font-size  : 22px;
                font-weight: 600;


            }

            .btn-section {
                float           : right;
                border          : none;
                outline         : none;
                padding         : 10px 15px;
                display         : block;
                background-color: #e3e0e0;
                text-transform  : uppercase;

                &:hover {
                    background-color: #f4d50b;
                    color           : white
                }
            }

        }

        .specialty-body {


            .bg-image {
                width              : 278px;
                height             : 150px;
                background         : url('../../../assets/specialty/suckhoetamthan.jpg');
                background-position: center center;
                background-repeat  : no-repeat;
                background-size    : cover;
                background-color   : #eee;
            }

            //reset slick slider css
            .slick-prev {
                // border       : 1px solid orange !important;
                left      : -10 !important;
                z-index   : 1000 !important;
                width     : 44px !important;
                height    : 48px !important;
                background: #fff !important;
                border    : 2px solid #d1d0d0 !important;

                &:hover {
                    background-color: #f4f4f4 !important;
                }
            }

            .slick-next {
                // border : 1px solid orange !important;
                right        : -10 !important;
                // z-index   : 1000 !important;
                width        : 44px !important;
                height       : 48px !important;
                background   : #fff !important;
                border       : 2px solid #d1d0d0 !important;

                &:hover {
                    background-color: #f4f4f4 !important;
                }
            }

            .slick-prev:before,
            .slick-next:before {
                font-family: FontAwesome !important;
                color      : red !important;
            }

        }

    }
}